$primary-color: #0c181f;
$secondary-color: darken(#3ded97, 15%);
$white: #ffffff;
$font-family: "Lato", sans-serif;
$font-size: 1.3rem;
$font-big: 1.9rem;
$font-weight: 530;
$font-bold: 900;
$border-radius: 0.7rem;
$gray-color: #bebebe;
